# Ignore environment variables
.env

# Ignore Python cache
__pycache__/
*.pyc

# Ignore IDE files
.vscode/
.idea/

# Ignore Streamlit secrets (local only)
.streamlit/secrets.toml

# Ignore virtual environment
venv/
env/